.MainDiv {
  display: flex;
}

.MainDiv .LeftDiv {
  margin-left: 50px;
  margin-top: 35px;
  font-size: 20px;
}

img {
  width: 260px !important;
  height: 260px !important;
  border-radius: 50%;
  display: block;
  /* margin: 15px auto; */
  border: #f1f1f1 1px solid;
}

.FontXLarge {
  /* font-size: x-large; */
}